@import "/assets/scss/common/mixin";

.three-item {
  display: grid;
  grid-template-columns: auto 5% auto;
  align-items: center;

  img {
    margin: auto;
    margin-bottom: 25px;
  }
}

.number_of_people {
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  border-bottom: 1px solid rgba(33, 37, 41, 0.25);
  margin-bottom: 16px;
  @include pc {
    display: grid;
  }
}

.conductor_meals {
  &--checkbox {
    display: flex;
    align-items: center;
    gap: 30px;
    height: 20px;
    margin-bottom: 15px;
    &_title {
      font: normal 400 16px/150% $font-family-notoSanJp;
      color: $color-theme-dark;
    }

    &_input {
      display: flex;
      gap: 30px;
      align-items: center;

      input {
        width: 20px;
        height: 20px;
      }

      .input_item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
      }
    }
  }

  .box-info-guides {
    display: grid;
    grid-template-columns: 50% auto;
    gap: 16px;
  }

  .checkbox-customize {
    min-height: 38px;
  }

  .label-checkbox {
    font: normal 400 16px/150% $font-family-notoSanJp;
    color: $color-theme-dark;
    margin-left: 8px;
    margin-bottom: 0;
  }

  .print-note {
    display: grid;
    grid-template-columns: 120px auto;
    gap: 16px;

    .box-check-note {
      display: flex;
      align-items: center;
    }

    input {
      min-height: 38px;
    }

    .preview {
      margin: 0;
    }
  }

  .booking-seat {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 90px repeat(1, 1fr) 38px;
    gap: 16px;
    margin-bottom: 16px;

    .box-input {
      display: grid;
      grid-template-columns: 32px auto;
      gap: 8px;
      align-items: center;

      label {
        margin-bottom: 0;
      }
    }

    input {
      min-height: 38px;
      width: 100%;
      border-radius: 4px;
      border: 1px solid $color-gray-400;
      background: $color-white;
      padding: 0 8px;
    }

    .input-disable {
      border-radius: 4px;
      background: $color-gray-200;
    }
  }

  .btn-remove {
    border: 1px solid $color-theme-secondary;
    background: $color-theme-secondary;
    height: 38px;
  }

  .button-add {
    height: 38px;
  }
}

.input-textend {
  position: relative;

  .input-group-append {
    position: absolute;
    right: 1px;
    bottom: calc(1rem + 1px);
  }

  .invalid-append {
    bottom: calc(1rem + 26px);
  }

  .input-group-text {
    color: $color-gray-900;
    font: normal 400 16px/150% $font-family-notoSanJp;
    padding: 6px 12px;
    border-radius: 0 4px 4px 0;
    border: none;
    border-left: 1px solid $color-gray-300;
  }
}

.calculate-number {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .number_detail {
    &--placeholder {
      font: normal 400 16px/150% $font-family-notoSanJp;
      color: $color-gray-500;
    }
  }
}

.sum_people {
  margin-top: 16x;
  .course_number_people,
  .total_guest {
    display: flex;
    justify-content: space-between;

    span {
      font: normal 400 16px/150% $font-family-noto-sans-normal;
      color: $color-theme-dark;

      &:last-child {
        color: $color-orange-500;
        font: normal 700 16px/150% $font-family-hiragino-normal;
      }
    }
  }
}

.filter-customer {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  gap: 8px;
  align-items: start;

  .division {
    select {
      margin-top: 10px;
    }
  }

  .date-time {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    .datepicker {
      margin-top: 0 !important;
    }

    input {
      min-width: 100%;
    }

    img {
      margin: auto auto 24px auto;
    }
  }

  .number_people {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;

    .input_people {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;

      .v-select {
        width: 100%;
      }

      .input-group-text {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  img {
    margin-bottom: 24px;
  }

  .area_prefecture {
    .vs__selected {
      margin-bottom: 4px;
    }

    .vs__search,
    .vs__search:focus {
      margin: 0;
    }

    .vs__clear {
      margin-bottom: 4px;
    }

    .vs--single.vs--open {
      .vs__selected {
        top: 2px;
      }
    }
  }

  .btn_submit {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;

    .btn-search.btn-reset {
      margin-left: 10px;
      background: $color-white;
      color: $color-theme-secondary;
      border: 1px solid $color-theme-secondary;
    }
    .btn-search {
      min-height: 38px;
      width: fit-content;
      padding: 6px 12px;
      border-radius: 4px;
      border: 1px solid $color-theme-primary;
      background: $color-theme-primary;
      color: $color-white;
    }
  }
}
.filter-customer:not(:first-child) {
  grid-template-columns: repeat(1, 1fr) auto;
}

.bg-secondary-color {
  background: $color-theme-secondary !important;
}

.modal-orders {
  color: $color-blue-500;
  font: normal 400 16px/150% $font-family-hiragino-normal;
  text-decoration-line: underline;
  cursor: pointer;
}

.btn-checkbox {
  display: flex;
  align-items: flex-end;
  gap: 20px;

  .btn_check {
    border-radius: 4px;
    padding: 7px 14px;
    height: 38px;
    min-width: 166px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    img {
      margin-right: 10px;
    }

    .number {
      font: normal 700 12px/100% $font-family-noto-sans-bold;
      border-radius: 100px;
      padding: 4.2px 7.8px;
    }
  }

  .unconfirmed {
    .btn_check {
      background-color: $color-gray-200;

      .number {
        background: $color-theme-secondary;
        color: $color-white;
      }
    }
  }

  .confirmed {
    .btn_check {
      background-color: $color-orange-100;

      .number {
        background: $color-orange-500;
        color: $color-white;
      }
    }
  }
}

.customer-list {
  .modal_custom {
    .modal_dialog {
      min-width: 1000px;
    }
  }

  .reservation-empty {
    display: flex;
  }
}

.table_list {
  margin-top: 16px;
}

.status_confirmed,
.status_unconfirmed {
  padding: 4.2px 7.8px;
  border-radius: 4px;
  color: $color-white;
  width: fit-content;
}

.status_confirmed {
  background: var(--theme-warning, #fe8902);
}

.status_unconfirmed {
  background: $color-theme-secondary;
}

.content__header {
  .header_left {
    display: flex;
    gap: 25px;
    align-items: center;
  }
}

.action_th {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  white-space: nowrap;
}

.btn_action {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  .disable-button {
    img {
      cursor: not-allowed;
    }
  }
}
